.card {
  width: 100%;
  margin: 0.2rem 0;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
  border-radius: 3px;
  p {
    margin: 0;
  }
  .right {
    display: flex;
  }
  img {
    cursor: pointer;
    margin-left: 1rem;
  }
}
